<section class="customers">
  <div class="container customers-container">
    <h2 class="title">What our Customers Say</h2>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="customers__list">
      <li class="customers__item" >
        <img class="raiting__img" src="./images/svg/stars.svg" alt="stars"></img>
        <p class="customers__description">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customer__info">
          <img class="customers__img" src="./images/customers/customer_1.jpg" alt="customer" />
          <div class="customer__about">
             <p class="customer__name">Sumith Shah</p>
          <p>Some Dude</p>
          </div>
         
        </div>
      </li>
      <li class="customers__item">
        <img class="raiting__img" src="./images/svg/stars.svg" alt="stars"></img>
        <p class="customers__description">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customer__info">
          <img class="customers__img" src="./images/customers/customer_2.jpg" alt="customer" />
         <div class="customer__about">
          <p class="customer__name">Sumith Shah</p>
          <p>Some Dude</p>
         </div> 
        </div>
      </li>
    </ul>
  </section>
</div>
