<section class="favorities" id="menu">
  <div class="container favorites__container">
    <h2 class="title">Some of Our Favorites</h2>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <div class="favorites__circle">
          <picture class="header__picture favorites__img">
            <source
              media="(min-width: 1280px)"
              srcset="
                images/favorites/desktop/gamburger_desk_x1.png 1x,
                images/favorites/desktop/gamburger_desk_x2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/favorites/tablet/gamburger_tablet_x1.png 1x,
                images/favorites/tablet/gamburger_tablet_x2.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                images/favorites/mobile/gamburger_mobile_x1.png 1x,
                images/favorites/mobile/gamburger_mobile_x2.png 2x
              "
              type="image/png"
            />
            <img
              src="images/favorites/mobile/gamburger_mobile_x1.png"
              loading="lazy"
              alt="gamburger"
            />
          </picture>
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__circle">
          <picture class="header__picture favorites__img">
            <source
              media="(min-width: 1280px)"
              srcset="
                images/favorites/desktop/pasta_desk_x1.png 1x,
                images/favorites/desktop/pasta_desk_x2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/favorites/tablet/pasta_tablet_x1.png 1x,
                images/favorites/tablet/pasta_tablet_x2.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                images/favorites/mobile/pasta_mobile_x1.png 1x,
                images/favorites/mobile/pasta_mobile_x2.png 2x
              "
              type="image/png"
            />
            <img
              src="images/favorites/mobile/pasta_mobile_x1.png"
              loading="lazy"
              alt="gamburger"
            />
          </picture>
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__circle">
          <picture class="header__picture favorites__img">
            <source
              media="(min-width: 1280px)"
              srcset="
                images/favorites/desktop/pizza_desk_x1.png 1x,
                images/favorites/desktop/pizza_desk_x2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/favorites/tablet/pizza_tablet_x1.png 1x,
                images/favorites/tablet/pizza_tablet_x2.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                images/favorites/mobile/pizza_mobile_x1.png 1x,
                images/favorites/mobile/pizza_mobile_x2.png 2x
              "
              type="image/png"
            />
            <img
              src="images/favorites/mobile/pizza_mobile_x1.png"
              loading="lazy"
              alt="gamburger"
            />
          </picture>
        </div>
      </li>
      <li class="favorites__item item-ishidden">
        <div class="favorites__circle">
          <picture class="header__picture favorites__img">
            <source
              media="(min-width: 1280px)"
              srcset="
                images/favorites/desktop/chicken_desk_x1.png 1x,
                images/favorites/desktop/chicken_desk_x2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/favorites/tablet/chicken_tablet_x1.png 1x,
                images/favorites/tablet/chicken_tablet_x2.png 2x
              "
              type="image/png"
            />
            <img
              src="images/favorites/tablet/chicken_tablet_x1.png"
              loading="lazy"
              alt="gamburger"
            />
          </picture>
        </div>
      </li>
      <li class="favorites__item item-ishidden">
        <div class="favorites__circle">
          <picture class="header__picture favorites__img">
            <source
              media="(min-width: 1280px)"
              srcset="
                images/favorites/desktop/salat_desk_x1.png 1x,
                images/favorites/desktop/salat_desk_x2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/favorites/tablet/salat_tablet_x1.png 1x,
                images/favorites/tablet/salat_tablet_x2.png 2x
              "
              type="image/png"
            />
            <img
              src="images/favorites/tablet/salat_tablet_x1.png"
              loading="lazy"
              alt="gamburger"
            />
          </picture>
        </div>
      </li>
      <li class="favorites__item item-ishidden">
        <div class="favorites__circle">
          <picture class="header__picture favorites__img">
            <source
              media="(min-width: 1280px)"
              srcset="
                images/favorites/desktop/borshch_desk_x1.png 1x,
                images/favorites/desktop/borshch_desk_x2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/favorites/tablet/borshch_tablet_x1.png 1x,
                images/favorites/tablet/borshch_tablet_x2.png 2x
              "
              type="image/png"
            />
            <img
              src="images/favorites/tablet/borshch_tablet_x1.png"
              loading="lazy"
              alt="gamburger"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
