<footer class="footer">
  <div class="container">
    <div class="footer__block">
      <div class="footer__menu">
        <a href="#" class="footer__logo-link">
          <picture class="header__picture">
            <source
              srcset="images/logo/logo_x1.png, images/logo/logo_x1.png 2x"
              type="image/png"
            />
            <img
              src="images/logo/logo_x1.png"
              loading="lazy"
              alt="logo"
              class="logo"
            />
          </picture>
        </a>
        <div class="navigation-block footer__navigation-block">
          <nav class="navigation footer__navigation">
            <ul class="navigation__list footer__navigation__list">
              <li class="navigation__item"><a href="#home">Home</a></li>
              <li class="navigation__item"><a href="#about">About</a></li>
              <li class="navigation__item"><a href="#service">Service</a></li>
              <li class="navigation__item"><a href="#menu">Menu</a></li>
              <li class="navigation__item"><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div>
        <form class="form footer__form" id="footer-form">
          <label class="form__lable"
            >Subscribe
            <input
              name="email"
              required
              type="email"
              placeholder="Enter your email"
              class="form__input footer__form__input"
            />
          </label>
          <button class="button button__yellow btn-footer" type="submit">
            Subscribe
          </button>
        </form>
        <div class="privacy">
          <p>By subscribing you agree to with our</p>
          <a href="#" class="privacy__link">Privacy Policy</a>
        </div>
      </div>
    </div>

    <div class="policy">
      <ul class="policy__list">
        <li class="policy__item"><a>Privacy Policy</a></li>
        <li class="policy__item"><a>Terms of Service</a></li>
        <li class="policy__item"><a>Cookies Settings</a></li>
      </ul>
      <div>2023 FoodSta. All right reserved.</div>
    </div>
  </div>
</footer>
