<header id="header">
  <div class="container header-container">
    <a href="#">
      <picture class="header__picture">
        <source
          srcset="images/logo/logo_x1.png, images/logo/logo_x1.png 2x"
          type="image/png"
        />
        <img
          class="logo"
          src="images/logo/logo_x1.png"
          loading="lazy"
          alt="logo icecream"
        />
      </picture>
    </a>
    <div class="navigation-block header__navigation-block">
      <nav class="navigation navigation-header">
        <div class="icon-close">
          <div class="fa-solid fa-xmark"></div>
        </div>
        <ul class="navigation__list navigation__list-header">
          <li class="navigation__item navigation__item-header">
            <a href="#home">Home</a>
          </li>
          <li class="navigation__item navigation__item-header">
            <a href="#about">About</a>
          </li>
          <li class="navigation__item navigation__item-header">
            <a href="#service">Service</a>
          </li>
          <li class="navigation__item navigation__item-header">
            <a href="#menu">Menu</a>
          </li>
          <li class="navigation__item navigation__item-header">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="button button__green-small" id="btn-header">
        Order Now
      </button>
    </div>
    <img src="images/svg/burger_menu.svg" class="burger-menu" />
  </div>
</header>
