<section class="hero" id="about">
  <div class="container container__hero">
    <div>
      <h1 class="title hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <div class="hero_box">
        <div class="hero__info">
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat.
          </p>
          <button class="button button__green-small" id="btn-hero">
            Order Now
          </button>
        </div>
      </div>
    </div>
    <div class="slider">
       <div class="owl-carousel owl-theme">
        <div class="item slider__item">
        <picture class="header__picture">
        <source
              media="(min-width: 1280px)"
              srcset="
              images/slider/desktop/1_desk.png 1x,
              images/slider/desktop/1_deskx2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              images/slider/tablet/1_tab.png 1x,
              images/slider/tablet/1_tabx2.png 2x
              "
              type="image/png"
            />
        <img
          src="images/slider/tablet/1_tab.png"
          loading="lazy"
          alt="food"
          class="slider-img"
        
        />
      </picture>
        </div>
        <div class="item slider__item" >
         <picture class="header__picture">
        <source
              media="(min-width: 1280px)"
              srcset="
              images/slider/desktop/2_desk.png 1x,
              images/slider/desktop/2_deskx2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              images/slider/tablet/2_tab.png 1x,
              images/slider/tablet/2_tabx2.png 2x
              "
              type="image/png"
            />
        <img
          src="images/slider/tablet/2_tab.png"
          loading="lazy"
          alt="food"
          class="slider-img"
        
        />
      </picture>
        </div>
       <div class="item slider__item">
       <picture class="header__picture">
        <source
              media="(min-width: 1280px)"
              srcset="
              images/slider/desktop/3_desk.png 1x,
              images/slider/desktop/3_deskx2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              images/slider/tablet/3_tab.png 1x,
              images/slider/tablet/3_tabx2.png 2x
              "
              type="image/png"
            />
        <img
          src="images/slider/tablet/3_tab.png"
          loading="lazy"
          alt="food"
          class="slider-img"
        
        />
      </picture>
       </div>     
    </div>
    </div>
   
</section>
