<div class="backdrop">
  <div class="modal">
    <div class="modal__block">
      <h2 class="modal__title">Order Form</h2>
      <button class="btn-close fa-solid fa-xmark" id="btn-close"></button>
      <p class="modal__text">Thank you for your order!</p>
      <form class="order">
        <lable class="order__label"
          >Name
          <input
            required
            type="text"
            name="name"
            placeholder="Your name"
            class="order__input"
          />
        </lable>
        <lable class="order__label"
          >Phone number
          <input
            required
            name="phone"
            type="tel"
            placeholder="+38(0_ _) _ _ _   _ _   _ _"
            class="order__input"
          />
        </lable>
        <lable class="order__label"
          >E-mail
          <input
            required
            name="email"
            type="email"
            placeholder="example@gmail.com"
            class="order__input"
          />
        </lable>
        <button type="'submite" class="button button__white" id="btn-send">
          Send
        </button>
      </form>
    </div>
  </div>
</div>
