<section id="service" class="offerings">
  <div class="container offerings-container">
    <div class="apple-container">
      <div class="apple">
        <div class="apple__circle">
          <picture class="apple__img">
            <source
              media="(min-width: 1280px)"
              srcset="
                images/apple/desktop/aple_desk.png   1x,
                images/apple/desktop/aple_deskx2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/apple/tablet/aple_tab.png   1x,
                images/apple/tablet/aple_tabx2.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                images/apple/mobile/aple_mob.png   1x,
                images/apple/mobile/aple_mobx2.png 2x
              "
              type="image/png"
            />
            <img
              src="images/apple/mobile/aple_mob.png"
              loading="lazy"
              alt="gamburger"
            />
          </picture>
        </div>
      </div>
      <div class="apples">
        <picture class="apple-middle__img">
          <source
            media="(min-width: 768px)"
            srcset="
              images/apple/tablet/aple_middle_tab.png   1x,
              images/apple/tablet/aple_middle_tabx2.png 2x
            "
            type="image/png"
          />
          <img
            src="images/apple/tablet/aple_middle_tab.png"
            loading="lazy"
            alt="gamburger"
          />
        </picture>
        <picture class="apple-small__img">
          <source
            media="(min-width: 768px)"
            srcset="
              images/apple/tablet/aple_small_tab.png   1x,
              images/apple/tablet/aple_small_tabx2.png 2x
            "
            type="image/png"
          />
          <img
            src="images/apple/tablet/aple_small_tab.png"
            loading="lazy"
            alt="gamburger"
          />
        </picture>
      </div>
    </div>
    <div class="about">
      <h2 class="title about__title">What’s Special About Our Offerings</h2>
      <p class="description about__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="benefits">
        <li class="benefits__item">
          <h3 class="benefits__title benefits__title-first">Fasest Delivery</h3>
          <p class="benefits__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__title benefits__title-second">Easy To Order</h3>
          <p class="benefits__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button class="button button__white" id="btn-offers">Order Now</button>
    </div>
  </div>
</section>
