<section id="contact">
  <div class="container subscribe__container">
    <div>
      <h2 class="title">Subscribe To Get Special Offers</h2>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="form subscribe-form" id="subscr-form">
        <input
          name="email"
          required
          type="email"
          placeholder="Enter your email"
          class="form__input contacts__input"
        />
        <button class="button button__green-big subscribe__btn" type="submit">
          Subscribe
        </button>
      </form>
    </div>
    <img src="./images/banan.png" class="subscribe-img" />
  </div>
</section>
